.form-product {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 50vh;
}
.form-box {
  max-width: 60%;
  height: 100vh;
  /* border: 1px solid red; */
  margin: 0vw auto;
  padding: 5vw;
  position: relative;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form-box input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  background-color: lightgray;
}

.form-box textarea {
  height: 15vh;
  text-align: center;
}

.form-box input::placeholder {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.container-button {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
